@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%; /* Garante que o body e o html ocupem 100% da altura */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove o padding padrão */
}

body {
  display: flex; /* Habilita o Flexbox para o layout */
  flex-direction: column; /* Organiza os elementos (Header, conteúdo, Footer) em coluna */
  height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

main {
  flex-grow: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
}